
<h1>Posts</h1>



<div class="col-sm-8">
<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>
  <% end %>
</ul>
</div>

<div class="col-sm-4">
<% if @results.any? %>
  <h3>Search Results</h3>
  <ul>
    <% @results.each do |result| %>
      <li><%= link_to result.title, post_path(result) %></li>
    <% end %>
  </ul>
<% end %>
</div>
